design/test/rundir/delaycell_test.spice
design/test/rundir/spiceinterface_temp.out
design/test/rundir/spiceinterface_temp.raw
design/test/rundir/spiceinterface_temp.spice
rundir/.delaycell_test.spice.swp
rundir/spiceinterface_temp.out
rundir/spiceinterface_temp.raw
rundir/spiceinterface_temp.spice
